[Unit]
Description=ghdefaults web server
Documentation=https://github.com/seankhliao/mono
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/ghdefaults -adm.addr=127.0.0.1:27003 -web.addr=127.0.0.1:28003 -app-id=126001 -private-key-path=/etc/ghdefaults/private-key -webhook-secret-path=/etc/ghdefaults/webhook-secret
RestartSec=10s
Restart=always

[Install]
WantedBy=multi-user.target
