[Unit]
Description=w16 web server
Documentation=https://github.com/seankhliao/mono
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/w16 -adm.addr=127.0.0.1:27001 -web.addr=:28001
RestartSec=10s
Restart=always

[Install]
WantedBy=mult-user.target
