data/fin/fin.prototext                              filter=ageencrypt
kube/overlays/cluster30/ghdefaults/private-key      filter=ageencrypt
kube/overlays/cluster30/ghdefaults/webhook-secret   filter=ageencrypt
secret.env                                          filter=ageencrypt
