[Unit]
Description=paste web server
Documentation=https://github.com/seankhliao/mono
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/paste-svr -adm.addr=127.0.0.1:27004 -web.addr=127.0.0.1:28004 -data /var/lib/paste
RestartSec=10s
Restart=always

[Install]
WantedBy=multi-user.target
