[Unit]
Description=singlepage web server
Documentation=https://github.com/seankhliao/mono
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/singlepage/%i.env
ExecStart=/usr/bin/singlepage $SINGLEPAGE_ARGS
RestartSec=10s
Restart=always

[Install]
WantedBy=multi-user.target
