[auth]
  type = HTTP

[gerrit]
  defaultBranch = refs/heads/main
  canonicalWebUrl = https://gerrit.seankhliao.com

[httpd]
  listenUrl = proxy-http://*:8080

[sshd]
  listenAddress = *:29418
  advertisedAddress = gerrit.seankhliao.com:29418
  cipher = -blowfish-cbc
  cipher = -3des-cbc
  cipher = -arcfour128
  cipher = -arcfour256
  mac = -hmac-md5
  mac = -hmac-md5-96
  mac = -hmac-sha1
  mac = -hmac-sha1-96
